html{
    background-color: rgb(87, 40, 87);
}
/*Common nav styles*/
.icon{
    margin-right: 15px;
}
.icon i {
    font-size: 2em;
}
.left-column > .contact-hours-wrapper {
    display: grid;
    grid-template-columns: 1fr;
    grid-gap: 10px;
}
.left-column{
    display: flex;
    align-items: center;
}
body {
    margin: 0px;
}
.navigation-wrapper {
    height: 190px;
    background-color: #11122b;
    color: #cbcbcb;
    /* Flexbox container*/
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 60px 100px;
    
}
.contact-hours-wrapper {
    color: royalblue;
}

.address-wrapper {
    color: red;
}